.background
{
    background-color: #FAF9F6;
    width:100vw;
    min-height:100vh;
}
.main
{
    font-family: Helvetica, sans-serif;
    margin-left:5%;
}

p
{
    margin: 0 auto;
    display: inline-block;
}

ul
{
    margin: 0 auto;
}