
.title
{
    width:70%;
    margin-left: 15%;
    margin-top: 5%;
    height: fit-content;
    overflow: auto;
    display: flex;
}
.gridWrapper
{
    flex: 1;
    display: grid;
    text-align: center;
    font-size: 2vw;
    align-items: center;
}
.gridWrapper a
{
    color: grey;
    text-decoration: none;
}
.githubOption
{
    display:inline-grid;
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
}
.githubOption :hover
{
    color: #95afbf;
}
.linkedinOption
{
    display:inline-grid;
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
}
.linkedinOption :hover
{
    color: #4B9CD3;
}
.randomOption
{
    display:inline-grid;
    width: 100%;
    margin: 0 auto;
}
.randomOption :hover
{
    color: #0269ab;
}

.nameWrapper
{
    flex: 3;
    font-size: 6vw;
}
.fullName
{
    display:inline-block; 
    margin: 0 auto;
}
#fancyWrapper
{
    display: inline-block;
}
#fancyPeriod
{
    display:inline-block;
    color: #4B9CD3;
    margin: 0 auto;
}
#fancyWrapper:hover > #fancyPeriod
{
    border-color: #4B9CD3;
    border-width: 3px;
    color:white;
}
#aboutMe
{
    font-size: 1.2vw;
    color: white;
}
#fancyWrapper:hover > #aboutMe
{
    color: #4B9CD3;
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
}