.yearlistmanager
{
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
}
.yearItem
{
    margin-left: 5%;
    font-size: 2vw;    
}
.yearList
{
    margin-top: 1.5%;
    list-style-image: url('../../images/pointer.svg') ;
    margin-bottom: 3%;
}
.yearName
{
    font-weight: 500;
    margin-left:5%;
}
.yearTab
{
    font-weight: lighter;
    font-size: 1.3vw;
    margin-bottom: 1%;
}
.eventDate
{
    color: #4B9CD3;
    font-size: 1vw;
    margin-left: 1%;
}
.eventDate:hover
{
    color: black;
}

.linkStyle
{
    margin-left: 1%;
    text-decoration: underline;
    font-size: 1vw;
}
.linkStyle:hover
{
    background-color: #95afbf;
    cursor: pointer;
}