.yearlistmanager
{
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
}
.yearItem
{
    margin-left: 5%;
    font-size: 2vw;    
}
.yearList
{
    margin-top: 1.5%;
    list-style-image: url('../../images/pointer.svg') ;
    margin-bottom: 3%;
}
.yearName
{
    font-weight: 500;
    margin-left:5%;
}
.yearTab
{
    font-weight: lighter;
    font-size: 1.3vw;
    margin-bottom: 1%;
}
.eventDate
{
    color: #4B9CD3;
    font-size: 1vw;
    margin-left: 1%;
}
.eventDate:hover
{
    color: black;
}

.linkStyle
{
    margin-left: 1%;
    text-decoration: underline;
    font-size: 1vw;
}
.linkStyle:hover
{
    background-color: #4B9CD3;
    color:white;
    cursor: pointer;
}

.eventTag
{
    margin-left: 1%;
    --label-r: 69;
    --label-g: 185;
    --label-b: 185;
    --label-h: 180;
    --label-s: 63;
    --label-l: 73;
    --lightness-threshold: 0.6;
    --background-alpha: 0.18;
    --border-alpha: 0.3;
    --lighten-by: calc(((var(--lightness-threshold) - var(--perceived-lightness)) * 100) * var(--lightness-switch));
    --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
    --lightness-switch: max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 2em;
    background: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha));
    color: hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%), var(--border-alpha));
}
.eventTag:hover
{
    background:  hsl(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) + var(--lighten-by)) * 1%));
    color: rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha)); 
    border-color:rgba(var(--label-r), var(--label-g), var(--label-b), var(--background-alpha)); 
    cursor: pointer;
}