.yearlistmanager
{
    margin-top: 2%;
}
.yearItem
{
    margin-left: 5%;
    list-style-type: square;
    font-size: 2vw;    
}
.yearList
{
    margin-top: 1.5%;
    margin-bottom: 3%;
}
.yearName
{
    font-weight: 500;
    margin-left:5%;
}
.yearTab
{
    font-weight: lighter;
    font-size: 1vw;
    margin-bottom: 1%;
}
.eventDate
{
    color: #4B9CD3;
    font-size: 1vw;
    font-family: monospace;
    margin-left: 1%;
}
.eventDate:hover
{
    color: black;
}

.linkStyle
{
    margin-left: 1%;
    text-decoration: underline;
    font-size: 1vw;
    font-family: monospace;
}
.linkStyle:hover
{
    background-color: #4B9CD3;
    color:white;
    cursor: pointer;
}
